# Direct IP access - HTTP
server {
    listen 80;
    server_name 66.23.236.42;

    location /static/ {
        alias /opt/jenkins-django-demo/staticfiles/;
    }

    location / {
        proxy_pass http://127.0.0.1:8001;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

# Domain HTTP access
server {
    listen 80;
    server_name demo.nachat.co.ke;

    {% if ssl_certificate_exists %}
    return 301 https://demo.nachat.co.ke$request_uri;
    {% else %}
    location / {
        proxy_pass http://127.0.0.1:8001;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
    {% endif %}
}

{% if ssl_certificate_exists %}
# Domain HTTPS access
server {
    listen 443 ssl;
    server_name demo.nachat.co.ke;

    ssl_certificate /etc/letsencrypt/live/demo.nachat.co.ke/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/demo.nachat.co.ke/privkey.pem;

    ssl_protocols TLSv1.2 TLSv1.3;

    location /static/ {
        alias /opt/jenkins-django-demo/staticfiles/;
    }

    location / {
        proxy_pass http://127.0.0.1:8001;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
{% endif %}
